## List Current Files In DataBase

In [1]:
import os
import pandas as pd

In [2]:
dirs=os.listdir("./DataBase")
for d in dirs:
    print("option [" , dirs.index(d) + 1 , "]: " , d)

option [ 1 ]:  price_list_AUG.csv
option [ 2 ]:  stock_price.csv

In [3]:
file_name = input("Enter File Name (sample1.csv) NO WHITE_SPACE!: ")

Enter File Name (sample1.csv) NO WHITE_SPACE!: price_list_AUG.csv

In [4]:
%cd ./DataBase/

C:\GitHub-Projects\DataAnalysis\Sales Analysis\SalesSummary\DataBase

In [5]:
#file_path = "./DataSet/"+file_name

In [6]:
data = pd.read_csv(file_name)
data.head(3)

,code,produits,litrage,PAO au Synth?tique,type de moteur,Prix de grossiste,prix de grossiste 1,prix de grossiste 2,prix de taillant
0,E107746,S-OIL 7 GOLD #9 PAO C3 0W-40,1L,100 % PAO,tout type,"10,000","13,000","15,000","20,000"
1,E107745,S-OIL 7 GOLD #9 PAO C3 0W-40,200L,100 % PAO,tout type,"1,500,000","1,600,000","1,700,000",-
2,E107742,S-OIL 7 GOLD #9 PAO C3 5W-30,4L,melange de PAO et de synth?tique,tout type,"22,000","25,000","30,000","40,000"

## Enter Code Name and Price Option

In [7]:
search = input("Enter Product Name")
produits = data[data['produits'].str.contains(search)]
produits.loc[:,['code','produits', 'litrage']]

Enter Product Name10W-40

       code                             produits litrage
9   E107635            S-OIL 7 RED #9 SN 10W-40      1L
10  E107633            S-OIL 7 RED #9 SN 10W-40      4L
11  E107634            S-OIL 7 RED #9 SN 10W-40     200L
17  E107880  S-OIL 7 BLUE #7 CI-4/SL 10W-40 (20)     20L
18  E107879       S-OIL 7 BLUE #7 CI-4/SL 10W-40    200L

In [8]:
code = input("EnterCode Name: ")

EnterCode Name: E107633

In [9]:
tpys = data.columns
for i in range(len(tpys)):
    if i > 4:
        print("Types: ", tpys[i])

Types:  Prix de grossiste
Types:  prix de grossiste 1
Types:  prix de grossiste 2
Types:  prix de taillant

In [10]:
product_type = input("Enter Product Type: ")

Enter Product Type: Prix de grossiste

In [11]:
product = data.loc[data['code']==code]
product.loc[:, ['code', 'produits', product_type]]

       code                   produits Prix de grossiste
10  E107633  S-OIL 7 RED #9 SN 10W-40             13,000