In [1]:
import pandas as pd
import os

In [2]:
path_data = "C:/GitHub-Projects/DataAnalysis/Sales Analysis/SalesSummary/DataBase/"

In [3]:
dirs=os.listdir(path_data)
for d in dirs:
    print("option [" , dirs.index(d) + 1 , "]: " , d)

option [ 1 ]:  clients.csv
option [ 2 ]:  ogPrice.csv
option [ 3 ]:  sales.csv
option [ 4 ]:  sales_price_types.csv
option [ 5 ]:  stock_price.csv

## Sales File Name

In [4]:
#file_sales = input('Enter File Name For Sales: ')
file_sales = "sales.csv"

## Current Stock's File Name

In [5]:
#file_cstock = input('Enter File Name For Current Stock: ')
file_cstock = "stock_price.csv"

## Enter file name for list of Clients

In [6]:
#file_client = input('Enter File Name For List Of Clients: ')
file_client = "clients.csv"

### Imported Datasets

In [7]:
sales = pd.read_csv(path_data + file_sales)
sales.head()

Empty DataFrame
Columns: [code, product, facture, day, month, year, quantity, buyer type, buyer name, manager, price, total amount, payment, remark]
Index: []

In [8]:
cStock = pd.read_csv(path_data + file_cstock)
cStock.head()

,NO.,code,Description,Package,Q'TY,liter/bottle,bottle/box,Quantity Q'ty (Unit)\nORDER,T.Liter,N.WEIGHT,T.N.WEIGHT (KG),G.WEIGHT,T.G_WEIGHT,CBM,T.CBM
0,2710197120,E107612,S-OIL 7 RED #9 SN 5W-40 (200),200L Drum,2,200,1,2,400,170.600,341.2,188.60,377.20,0.298,0.620
1,2710197120,E107633,S-OIL 7 RED #9 SN 10W-40 (4x4),4L x 4,300,4,4,1200,4800,13.760,4128,14.60,4380.00,0.035,9.000
2,2710197120,E107634,S-OIL 7 RED #9 SN 10W-40 (200),200L Drum,4,200,1,4,800,172.000,688,190.00,760.00,0.298,1.240
3,2710197120,E107751,S-OIL 7 GOLD #9 ECO C3 5W-30,5L x 3,16,5,3,48,240,12.810,204.96,13.65,218.40,0.033,0.448
4,2710197120,E108012,S-OIL 7 4T RIDER #9 MA2 10W-40 (1x12),1L x 12,40,1,12,480,480,10.224,408.96,11.21,448.32,0.023,0.880

In [9]:
clients = pd.read_csv(path_data + file_client)

### Enter information for sales
##### First enter product name to find code!

In [10]:
product_name = input("Enter Product Name: ")
c_products = cStock[cStock['Description'].str.contains(product_name, case=False)]
c_products

Enter Product Name: 10W-40

,NO.,code,Description,Package,Q'TY,liter/bottle,bottle/box,Quantity Q'ty (Unit)\nORDER,T.Liter,N.WEIGHT,T.N.WEIGHT (KG),G.WEIGHT,T.G_WEIGHT,CBM,T.CBM
1,2710197120,E107633,S-OIL 7 RED #9 SN 10W-40 (4x4),4L x 4,300,4,4,1200,4800,13.760,4128,14.60,4380.00,0.035,9.00
2,2710197120,E107634,S-OIL 7 RED #9 SN 10W-40 (200),200L Drum,4,200,1,4,800,172.000,688,190.00,760.00,0.298,1.24
4,2710197120,E108012,S-OIL 7 4T RIDER #9 MA2 10W-40 (1x12),1L x 12,40,1,12,480,480,10.224,408.96,11.21,448.32,0.023,0.88

### Enter information for selling item

##### Payment Types

In [11]:
print ("Types:  Prix de grossiste\n" + 
"Types:  prix de grossiste 1\n" +
"Types:  prix de grossiste 2\n" +
"Types:  prix de taillant")

Types:  Prix de grossiste
Types:  prix de grossiste 1
Types:  prix de grossiste 2
Types:  prix de taillant

In [12]:
sell_code = input('Enter Item Code From Above: ')
item = c_products.loc[c_products['code']==sell_code]
item

Enter Item Code From Above: E107633

,NO.,code,Description,Package,Q'TY,liter/bottle,bottle/box,Quantity Q'ty (Unit)\nORDER,T.Liter,N.WEIGHT,T.N.WEIGHT (KG),G.WEIGHT,T.G_WEIGHT,CBM,T.CBM
1,2710197120,E107633,S-OIL 7 RED #9 SN 10W-40 (4x4),4L x 4,300,4,4,1200,4800,13.76,4128,14.6,4380.0,0.035,9.0

In [13]:
sell_product = item.loc[:,'Description'].tolist()[0]

In [14]:
sell_facture = input('Enter facture details: ')
sell_day = int(input('Enter sell day: '))
sell_month = int(input('Enter sell month: '))
sell_year = int(input('Enter sell year: '))

Enter facture details: n/a
Enter sell day: 06
Enter sell month: 01
Enter sell year: 2023

In [24]:
max_qty = item.iloc[:,7].tolist()[0]
sell_qty = int(input('Enter sell quantity: '))
while sell_qty > max_qty:
    sell_qty = int(input('Enter sell quantity AGAIN (MAX amount is ' + str(max_qty) + '): '))

Enter sell quantity: 12

In [31]:
sell_buyerType = input('Enter Buyer Type: ')

Enter Buyer Type: n/a

In [41]:
sell_buyerName = input('Enter Buyer Info: ')
client = clients[clients['Buyer Name'].str.contains(sell_buyerName,case=False)]
client

Enter Buyer Info: park

  Buyer Name
4     M.Park

In [42]:
sell_buyerName = input('Enter Buyer Name From Above: ')

Enter Buyer Name From Above: M.Park

In [ ]:
sell_manager = input('Enter Sales Manager: ')
sell_price = input('Enter Sales Price: ')
sell_total = input('Enter Sales Total: ')
sell_payment = input('Sell Payment Method: ')
sell_remark = input('Sell Remark: ')

In [17]:
sales_list = [sell_code, sell_product, sell_facture, sell_day, 
               sell_month, sell_year, sell_qty, sell_buyerType, 
               sell_buyerName, sell_manager,
              sell_price, sell_total, sell_payment, sell_remark]

### Edit Data To Sales

In [18]:
#df.to_csv('modified.csv')
col_title = sales.columns.tolist()
n = len(col_title)
new_data = dict()
for i in range(n):
    new_data[col_title[i]]=sales_list[i]
new_data

{'code': 'E107633',
 'product': 'S-OIL 7 RED #9 SN 10W-40 (4x4)',
 'facture': 'n/a',
 'day': 6,
 'month': 1,
 'year': 2023,
 'quantity': 1200,
 'buyer type': 'n/a',
 'buyer name': 'n/a',
 'manager': 'n/a',
 'price': 'n/a',
 'total amount': 'n/a',
 'payment': 'n/a',
 'remark': 'n/a'}

In [19]:
new_sales = sales.append(new_data, ignore_index = True)
new_sales.head()

C:\Users\03pau\AppData\Local\Temp\ipykernel_29748\3560343835.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_sales = sales.append(new_data, ignore_index = True)

,code,product,facture,day,month,year,quantity,buyer type,buyer name,manager,price,total amount,payment,remark
0,E107633,S-OIL 7 RED #9 SN 10W-40 (4x4),n/a,6,1,2023,1200,n/a,n/a,n/a,n/a,n/a,n/a,n/a

#### Can Only Add Once. Change name or delete previous file to add more

In [25]:
%pwd

'C:\\GitHub-Projects\\DataAnalysis\\Sales Analysis\\SalesSummary\\JupyterNotebookFiles'

In [20]:
new_sales.to_csv(sell_manager +'_modified_sales.csv')

OSError: Cannot save file into a non-existent directory: 'n'

In [ ]:
new_sales = pd.read_csv(sell_manager +'_modified_sales.csv')
new_sales.head()

### Update Current Stock file -> cStock - sales = cStock