## List Current Files In DataBase

In [1]:
import os
import pandas as pd

### Change Path Later 
-> path is just where you stored your data files

In [21]:
path = "C:/GitHub-Projects/DataAnalysis/Sales Analysis/SalesSummary/DataBase"

#### Listing files in the path

In [22]:
dirs=os.listdir(path)
for d in dirs:
    print("option [" , dirs.index(d) + 1 , "]: " , d)

option [ 1 ]:  clients.csv
option [ 2 ]:  og_price.csv
option [ 3 ]:  price_list_AUG.csv
option [ 4 ]:  stock_price.csv

#### Copy Paste the File you want
file has to be a sales file!

In [6]:
file_name = input("Enter File Name (sample1.csv) NO WHITE_SPACE!: ")

Enter File Name (sample1.csv) NO WHITE_SPACE!: price_list_AUG.csv

In [10]:
%cd ./DataBase/

[WinError 2] The system cannot find the file specified: './DataBase/'
C:\Users\03pau

In [23]:
file_path = path + "/"+file_name

In [31]:
file_path

'C:/GitHub-Projects/DataAnalysis/Sales Analysis/SalesSummary/DataBase/price_list_AUG.csv'

#### Shows First 3 lines of data found

In [13]:
data = pd.read_csv(file_path)
data.head(3)

,code,produits,litrage,PAO au Synth?tique,type de moteur,Prix de grossiste,prix de grossiste 1,prix de grossiste 2,prix de taillant
0,E107746,S-OIL 7 GOLD #9 PAO C3 0W-40,1L,100 % PAO,tout type,"10,000","13,000","15,000","20,000"
1,E107745,S-OIL 7 GOLD #9 PAO C3 0W-40,200L,100 % PAO,tout type,"1,500,000","1,600,000","1,700,000",-
2,E107742,S-OIL 7 GOLD #9 PAO C3 5W-30,4L,melange de PAO et de synth?tique,tout type,"22,000","25,000","30,000","40,000"

### Enter Product Name

In [24]:
search = input("Enter Product Name")
produits = data[data['produits'].str.contains(search)]
produits.loc[:,['code','produits', 'litrage']]

Enter Product Name40

       code                             produits litrage
0   E107746        S-OIL 7 GOLD #9 PAO C3 0W-40      1L
1   E107745        S-OIL 7 GOLD #9 PAO C3 0W-40     200L
3   E107761            S-OIL 7 GOLD #9 C3 5W-40      1L
4   E107757            S-OIL 7 GOLD #9 C3 5W-40      4L
5   E107759            S-OIL 7 GOLD #9 C3 5W-40     200L
6   E107618             S-OIL 7 RED #9 SN 5W-40      1L
7   E107616             S-OIL 7 RED #9 SN 5W-40      4L
8   E107612        S-OIL 7 RED #9 SN 5W-40 (200)    200L
9   E107635            S-OIL 7 RED #9 SN 10W-40      1L
10  E107633            S-OIL 7 RED #9 SN 10W-40      4L
11  E107634            S-OIL 7 RED #9 SN 10W-40     200L
17  E107880  S-OIL 7 BLUE #7 CI-4/SL 10W-40 (20)     20L
18  E107879       S-OIL 7 BLUE #7 CI-4/SL 10W-40    200L
19  E107848       S-OIL 7 BLUE #9 CI-4/SL 15W-40     1L
20  E107844      S-OIL 7 BLUE #9 CI-4/SL 15W-40      5L
21  E107847      S-OIL 7 BLUE #9 CI-4/SL 15W-40      20L
22  E107846      S-OIL 7 BLUE #9 CI-4/SL 15W-40     200L
25  E107799             S-OIL 7 GEAR HD 85W-140      20L
26  E107798             S-OIL 7 GEAR HD 85W-140     200L

### Enter Product's Code Name

In [25]:
code = input("EnterCode Name: ")

EnterCode Name: E107846

#### Listing Available Types

In [26]:
tpys = data.columns
for i in range(len(tpys)):
    if i > 4:
        print("Types: ", tpys[i])

Types:  Prix de grossiste
Types:  prix de grossiste 1
Types:  prix de grossiste 2
Types:  prix de taillant

#### Enter Product Type from above

In [28]:
product_type = input("Enter Product Type: ")

Enter Product Type: prix de taillant

#### Final

In [30]:
product = data.loc[data['code']==code]
product.loc[:, ['code', 'produits', product_type]]

       code                         produits prix de taillant
22  E107846  S-OIL 7 BLUE #9 CI-4/SL 15W-40                -