In [1]:
import pandas as pd
import os

In [2]:
path_data = "C:/GitHub-Projects/DataAnalysis/Sales Analysis/SalesSummary/DataBase/"

In [3]:
dirs=os.listdir(path_data)
for d in dirs:
    print("option [" , dirs.index(d) + 1 , "]: " , d)

option [ 1 ]:  clients.csv
option [ 2 ]:  ogPrice.csv
option [ 3 ]:  sales.csv
option [ 4 ]:  sales_price_types.csv
option [ 5 ]:  stock_price.csv

## Sales File Name

In [4]:
file_sales = input('Enter File Name For Sales: ')

Enter File Name For Sales: sales.csv

## Current Stock's File Name

In [5]:
file_cstock = input('Enter File Name For Current Stock: ')

Enter File Name For Current Stock: sales_price_types.csv

## Enter file name for list of Clients

In [6]:
file_client = input('Enter File Name For List Of Clients: ')

Enter File Name For List Of Clients: clients.csv

### Imported Datasets

In [7]:
sales = pd.read_csv(path_data + file_sales)

In [13]:
cStock = pd.read_csv(path_data + file_cstock)
cStock.head(10)

,code,produits,litrage,PAO au Synth?tique,type de moteur,Prix de grossiste,prix de grossiste 1,prix de grossiste 2,prix de taillant
0,E107746,S-OIL 7 GOLD #9 PAO C3 0W-40,1L,100 % PAO,tout type,"10,000","13,000","15,000","20,000"
1,E107745,S-OIL 7 GOLD #9 PAO C3 0W-40,200L,100 % PAO,tout type,"1,500,000","1,600,000","1,700,000",-
2,E107742,S-OIL 7 GOLD #9 PAO C3 5W-30,4L,melange de PAO et de synth?tique,tout type,"22,000","25,000","30,000","40,000"
3,E107761,S-OIL 7 GOLD #9 C3 5W-40,1L,100% synth?tique,tout type,"5,200","6,000","7,000","9,000"
4,E107757,S-OIL 7 GOLD #9 C3 5W-40,4L,100% synth?tique,tout type,"20,000","18,500","20,000","26,000"
5,E107759,S-OIL 7 GOLD #9 C3 5W-40,200L,100% synth?tique,tout type,"790,000","840,000","860,000",-
6,E107618,S-OIL 7 RED #9 SN 5W-40,1L,100% synth?tique,essence,"3,800","4,300","5,000","6,500"
7,E107616,S-OIL 7 RED #9 SN 5W-40,4L,100% synth?tique,essence,"14,000","15,500","17,000","22,000"
8,E107612,S-OIL 7 RED #9 SN 5W-40 (200),200L,100% synth?tique,essence,"630,000","680,000","720,000",-
9,E107635,S-OIL 7 RED #9 SN 10W-40,1L,100% synth?tique,essence,"3,500","4,000","4,500","6,000"

In [9]:
clients = pd.read_csv(path_data + file_client)

### Enter information for sales
##### First enter product name to find code!

In [10]:
product_name = input("Enter Product Name")
c_products = cStock[cStock['produits'].str.contains(product_name)]
c_products.loc[:,['code','produits', 'litrage']]

Enter Product Name50

Empty DataFrame
Columns: [code, produits, litrage]
Index: []

In [11]:
product_name = input("Enter Product Name")

Enter Product Name..